<%- include('partials/header') %>  
    <h1>About US!</h1>

    <div class="box">
        <p>TowMe Services Ltd is one of a group of three companies in
            Kenya that deals with the sale and repair of motor vehicles. 
            Established in 1977, we have the experience and knowledge to
            provide you with a reliable and professional service that
            caters for all your vehicles needs.<br>
            At TowMe Services Ltd, we pride ourselves on doing everything in house from a
            simple oil change to complete engine overhauls, panel beating,
            re-spraying, upholstery, wheel and tyre services, engineering 
            and fabrication to name but a few. We are well equipped to 
            satisfy your every need with a 7000 square foot workshop, 
            a fully equipped wheel and tyre centre, car upholstery section,
            headlight beam setting equipment and a recovery truck. We have
            a modern reception area for you to wait while your car is being 
            serviced and provide a free pick-up and delivery service for all
            cars being serviced with us.</p>
    </div>
<%- include('partials/footer') %> 