<%- include('partials/header') %> 
    
    <div class="container">
        <form class="cont" action="">
            <h3>GET IN TOUCH</h3>
            <input type="text" id="name" placeholder="Your Name" required>
            <input type="email" id="email" placeholder="Email Id" required>
            <input type="text" id="phone" placeholder="Phone no." required>
            <textarea placeholder="How can we help you?" id="message" cols="30" rows="5"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
<%- include('partials/footer') %> 