<%- include('partials/header') %> 
    <div id="flat">
      <!-- <img src="/images/jonathan.jpg" alt=""> -->
    </div>
    
    <div id="Our-Serv">
      <h1>Our Services</h1>
      <col>

    </div>
<%- include('partials/footer') %>     
   
 
